<div class="profile__desc__item">
	<p class="profile__desc__item-title">{{props.title}}</p>
	<input
		class="profile__desc__item-value"
		type={{props.type}}
		name={{props.inputName}}
		value={{props.value}}
		{{props.disabled}}
	/>
</div>
