<div class="container">
	<div class="pages">
		<h2 class="pages__title">Страницы</h2>
		<nav>
			<ul class="pages__list">
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{login}}>Регистрация</a>
				</li>
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{auth}}>Авторизация</a>
				</li>
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{profile}}>Профиль</a>
				</li>
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{chat}}>Чат</a>
				</li>
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{error}}>500</a>
				</li>
				<li class="pages__list-item">
					<a class="pages__list-link route" href={{notFound}}>404</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
